.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-case {
    width: 36px;
    height: 34px;
    background-position: -10px -10px;
}

.sprite-doc {
    width: 26px;
    height: 32px;
    background-position: -66px -10px;
}

.sprite-fb {
    width: 47px;
    height: 47px;
    background-position: -112px -10px;
}

.sprite-fb-hover {
    width: 47px;
    height: 47px;
    background-position: -10px -77px;
}

.sprite-git {
    width: 47px;
    height: 47px;
    background-position: -77px -77px;
}

.sprite-git-hover {
    width: 47px;
    height: 47px;
    background-position: -144px -77px;
}

.sprite-hat {
    width: 41px;
    height: 23px;
    background-position: -10px -144px;
}

.sprite-lock {
    width: 20px;
    height: 32px;
    background-position: -179px -10px;
}

.sprite-mail {
    width: 21px;
    height: 16px;
    background-position: -71px -144px;
}

.sprite-phone {
    width: 20px;
    height: 20px;
    background-position: -112px -144px;
}

.sprite-skype {
    width: 20px;
    height: 20px;
    background-position: -152px -144px;
}

.sprite-tw {
    width: 47px;
    height: 47px;
    background-position: -219px -10px;
}

.sprite-tw-hover {
    width: 47px;
    height: 47px;
    background-position: -211px -77px;
}

.sprite-vk {
    width: 47px;
    height: 47px;
    background-position: -192px -144px;
}

.sprite-vk-hover {
    width: 47px;
    height: 47px;
    background-position: -10px -211px;
}
