html {
	height: 100%;
}

body {
	height: 100%;
	background: url(/img/bg.png) repeat;
	font-family: 'fira_sansbook';
}

.wrapper {
	min-height: 100%;
    position: relative;
    overflow: hidden;
    min-width: 970px;
	height: auto!important;
}

.wrapper:after {
	content: " ";
	height: 80px;
	display: block;
}

.page_footer {
	height: 80px;
	margin-top: -80px;
	background: green;
	min-width: 970px;
}

