/*КЛЕАРФИКС*/
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/*ОБЩИЕ*/
html, body {
	height: 100%;
	font-family: 'fira_sanslight';
}

body {
	background: url(/img/bg.png) repeat;
}

/*ХЭДЕР*/
.main_header {
	position: relative;
	height: 119px;
	margin-bottom: 39px;
	background-color: #eff3f7;
}

.main_header_content {
	width: 1200px;
	min-width: 960px;
	margin: 0 auto;
}

.main_header .line {
	position: absolute;
	bottom: 0;
}

.logo {
	float: left;
	margin: 30px 40px;
}

.socials {
	float: right;
	margin-top: 20px;
}

.icons li {
	display: inline-block;
	list-style-type: none;
	margin-left: 19px;
}

.icons:first-child {
	margin-left: -59px;
}

/*ВРАППЕР*/
.wrapper {
	margin-bottom: 40px;
	height: auto;
	min-height: 100%;
}

/*Мейн блок*/
.main_block {
	margin: 0 auto;
	width: 960px;
}

/*ЛЕВОЕ МЕНЮ*/
/*Навигация*/
.menu_left {
	width: 250px;
	float: left;
}

.nav_items div {
    border-radius: 4px;
    overflow: hidden;
}

.nav_item {
	width: 250px;
	height: 73px;
	background-color: #eff3f7;
}

.nav_item:hover {
	background-color: #3ba8c0;
}

.nav_item:hover .line2 {
	display: none;
}

.nav_item a {
	height: 73px;
	width: inherit;
	display: block;
	text-decoration: none;
	color: #3ba8c0;
	font-size: 1.23em;
	margin: 25px 25px;
}

.nav_item:hover a {
	color: #eff3f7;
}

.line2 {
	width: 230px;
	height: 2px;
	background-color: #3ba8c0;
    margin-left: 10px;
    margin-top: -50px;
    position: absolute;
}

/*ЛЕВОЕ МЕНЮ*/
/*Контакты*/
.contact_items li {
	height: 40px;
	width: 250px;
	color: white;
	list-style-type: none;
}

.contact_item {
	background-color:#3ba8c0;
}

.contact_item_mail {
background-color: #41b9d4;
}

.contact_item_mail:before {
	background: url(spritesheet.png) -71px -144px;
	content: "";
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	display: block;
	height: 16px;
	width: 21px;
}

.contact_item_phone {
	background-color: #48cbe8;
}

.contact_item_phone:before {
	background: url(spritesheet.png) -112px -144px;
	content: "";
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	display: block;
	height: 20px;
	width: 21px;
}

.contact_item_skype {
	background-color: #51daf8;
}

.contact_item_skype:before {
	background: url(spritesheet.png) -152px -144px;
	content: "";
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	display: block;
	height: 20px;
	width: 20px;
}

.contact_items {
	width: 250px;
	border-radius: 4px;

}

.contact_items li a {
	text-decoration: none;
	color: white;
}

.contact_items li a:hover {
	text-decoration: underline;
}

/*КОНТЕНТ*/
.main_content {
	width: 650px;
	float: right;
}

.main_content_block {
	margin-bottom: 26px;
    background-color: #eff3f7;
}

/*ОСНОВНАЯ ИНФОРМАЦИЯ*/
.main_information {
	min-height: 320px;
}

.line_up {
	margin-bottom: 35px;
	width: 340px;
	height: 2px;
	background-color: #3ba8c0;
}

.foto {
    overflow: hidden;
	height: 142px;
	width: 142px;
	border-radius: 50%;
}

.foto img {
    height: 150px;
    width: 160px;
}

.information li div {
	display: inline-block;
}

.information li {
	list-style-type: none;
}

.skill {
	border-radius: 4px;
	background: #3ba8c0;
    background: linear-gradient(#3ba8c0 50%, #2e8ca2 50%);
}

.spisok {
	margin: -150px 0px 0px 140px;
}

.title {
	font-weight: bold;
}

/*Опыт работы*/
.exp:before {
	background: url(spritesheet.png) -10px -10px;
	content: "";
	float: left;
	margin-top: 8px;
	margin-right: 20px;
	display: block;
	height: 34px;
	width: 36px;
}

/*Образование*/
.hat:before {
	background: url(spritesheet.png) -10px -144px;
	content: "";
	float: left;
	margin-top: 8px;
	margin-right: 20px;
	display: block;
	height: 34px;
	width: 42px;
}

.doc:before {
	background: url(spritesheet.png) -66px -10px;
	content: "";
	float: left;
	margin-top: 8px;
	margin-right: 20px;
	display: block;
	height: 34px;
	width: 42px;
}

/*ФУТЕР*/
.main_footer {
	position: relative;
    height: 80px;
    margin-bottom: -80px;
    background-color: #eff3f7;
}

.main_footer .line {
	position: absolute;
    bottom: 100%;
} 

.main_footer_content {
	width: 960px;
	margin: 0 auto;
}

.entry {
	margin-top: 25px;
}

.copyright {
	margin-top: -22px;
    text-align: center;
}

